<script>
    const aaaaaa = `[{"NomeParceiro":"AZUL LINHAS AEREAS BR S.A","Chamado":"1086489","DataDoChamado":"08/03/2021","DataArquivamento":"14/10/20","NotaFiscal":"258789","Selecionado":"1"},{"NomeParceiro":"AZUL LINHAS AEREAS BR S.A","Chamado":"1085276","DataDoChamado":"01/03/2021","DataArquivamento":"14/10/20","NotaFiscal":"12345","Selecionado":"1"},{"NomeParceiro":"AZUL LINHAS AEREAS BR S.A","Chamado":"1085155","DataDoChamado":"01/03/2021","DataArquivamento":"14/10/20","NotaFiscal":"12345","Selecionado":"1"},{"NomeParceiro":"AZUL LINHAS AEREAS BR S.A","Chamado":"1082581","DataDoChamado":"11/02/2021","DataArquivamento":"14/10/20","NotaFiscal":"12345","Selecionado":"1"},{"NomeParceiro":"AZUL LINHAS AEREAS BR S.A","Chamado":"1078660","DataDoChamado":"26/01/2021","DataArquivamento":"14/10/20","NotaFiscal":"notafiscal","Selecionado":"1"}]`
    const bbb = JSON.parse(aaaaaa)
    function SolicitaRelatorio() {
        console.log('ok')
        fetch('/Home/GerarRelatorio', {
            method: 'post',
            body: JSON.stringify({ 'ListaPagamentoParceiroArquivadoParaRelatorio': bbb }) ,
            headers: { 'Content-Type': 'application/json'}

        }).then(x => x.blob())
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = "Relatorio.pdf";
                document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
                a.click();
                a.remove();  //afterwards we remove the element again
            })
    }
</script>
<div class="row">
    <div class="col-lg-12">
        <button onclick="SolicitaRelatorio()">
            Solicita RELATORIO
        </button>
    </div>
</div>

