@page "/ckeditor"

<div class="adjoined-bottom">
    <div class="grid-container">
        <div class="grid-width-100">
            <form action="tes.php" method="post">
                <textarea name="editor" id="editor"></textarea>
            </form>
        </div>
    </div>
</div>

@code{
    [Inject] IJSRuntime js { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(1000);
        await js.InvokeVoidAsync("Iniciar");
    }
}