@page "/autor/cadastro"
@inject HttpClient http
@inject NavigationManager NavManager


<form onsubmit="return false">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" placeholder="Nome" @ref="inputElement"
               @bind-value="@a.Nome" @bind-value:event="oninput">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" placeholder="Pais"
               @bind-value="@a.Pais" @bind-value:event="oninput">

    </div>

    <button type="submit" @onclick="@Teste" class="btn btn-primary">Submit</button>
</form>

@code{
    public AutorViewModel a = new AutorViewModel();
    public ElementReference inputElement { get; set; }
    public bool controle { get; set; }
    protected override void OnInitialized()
    {
        controle = true;
    }

    public async Task Teste()
    {
        if (a.Nome != "" && a.Pais != "")
        {
            HttpResponseMessage te = await http.PostAsJsonAsync("/Autor/SaveAutor", a);
            NavManager.NavigateTo("/autor");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (controle == true)
        {
            await inputElement.FocusAsync();
            controle = false;
        }
    }
}