img {
    margin: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 95%;
    height: 100%;
}

#tela {
    margin: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 95%;
    height: 600px;
}

#snack {
    margin: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 95%;
    height: 20%;
}

#myCanvas {
    margin: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 95%;
    height: 100%;
}