@model ProjetoAutorLivro.Models.Entities.LivroModel


<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <form method="post" action="/Livro/Add">
            <label class="col-md-2">Nome</label>
            <div class="form-group">
                <input type="text" name="Nome" class="form-control" />
            </div>


            <label class="col-md-2">Editora</label>
            
            <div class="form-group">
                <input type="text" name="Editora" class="form-control"/>
            </div>

            <label class="col-md-2">Paginas</label>
            <div class="form-group">
                <input type="number" name="Paginas" class="form-control" />
            </div>
            


            <label class="col-md-2">Id Autor</label>
            <div class="form-group">
                @Html.DropDownListFor(model => model.IdAutor, new SelectList(Model.Autor, "IdAutor", "Nome"), "Escolha o autor",new { @class="form-control" })
            </div>
            

            <button type="submit" class="col-md-offset-2 btn btn-success">Criar</button>
        </form>
    </div>
</div>
