.gr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 200px;
    /* padding: 10px; */
    /* margin: 0 auto; */
    /* grid-gap: 20px; */
}

/* section.grid1>div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

section.grid1>div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: 10px solid tomato;
    display: block;
}

@media (max-width: 600px) {
    section.grid1 {
        grid-template-columns: repeat(2, 1fr);
    }
    section.grid1>div:nth-child(n + 4) {
        display: block;
    }
    section.grid1>div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
} */