.container{
    /* margin: 0, auto; */
    border: 1px solid black;
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.item{
    background-color: brown;
    margin: 5px;
    text-align: center;
    /* flex:1; */
    min-width: 400px;
}